body{
     margin: 0%;
     padding:0%;
    font-family: 'Montserrat', sans-serif;
}


h1{

 font-size: 50px;

}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
   text-align: justify;
}
.highLight{

    color: orange;
}
.half{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{

    width:100%;
}
.backGroundBanner{

    background-image: url("Image/top-banner.png");
    background-repeat: no-repeat;

}
section{

    height: 500px;
    padding-bottom: 50px;
    
}

.link-button{

    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    
}
.dreamArea{

    background-image: url("Image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}